<!-- single sertvice area start -->
<div class="single-service-banner-area rts-section-gapTop">
    <div class="container">
      <div class="row pt--100 pb--80 align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="banner-area-left-service-single">
            <h1
              class="title split-collab"
              data-aos="zoom-in"
              data-aos-duration="1000"
            >
              <span>About Us</span> <br />
            </h1>
  
            <p class="disc">
                Welcome to CPLBOOSTADS — your trusted partner in performance-driven marketing.

            </p>
            <a href="/contact" class="rts-btn btn-primary arrow-rotate"
              >Contact us <i class="fa-solid fa-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="thumbnail">
            <img
              src="../../../../assets/images/ad.jpg"
              alt="User Acquisition"
            />
            <!-- <img class="short-image" src="assets/images/service/12.png" alt=""> -->
          </div>
        </div>
      </div>
    </div>
    <div class="shape-area">
      <img src="assets/images/service/shape/02.png" alt="shape" class="one" />
      <!-- <img src="assets/images/service/shape/03.png" alt="shape" class="two"> -->
      <img src="assets/images/service/shape/04.png" alt="shape" class="three" />
      <img src="assets/images/service/shape/05.png" alt="shape" class="four" />
    </div>
  </div>
  <!-- single sertvice area end -->
  


  
  <!-- rts service area start -->
  <div class="rts-product-area">
    <div class="container">
      <div
        class="row service-relative align-items-center section-separator-top-bg-white single-product-list pt--125 pb--125 pb_md--80 pb_sm--30 pt_md--80 pt_sm--50"
      >
        <div class="col-lg-6 col-md-6">
          <div class="large-thumbnail">
            <a href="#" class="thumbnail">
              <img
                src="../../../../assets/images/offers.jpg"
                width="505"
                height="400"
                alt="Secure Image"
              />
            </a>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 offset-lg-1">
          <div class="portfolio-content-wrapper-list">
            <h2
              class="title split-collab"
              data-aos="zoom-in"
              data-aos-duration="1000"
            >
            Driven by Results, Backed by Innovation
            </h2>
            <p class="disc">
                We specialize in CPA (Cost Per Action) affiliate marketing, connecting top-tier advertisers with high-converting traffic sources. Our mission is simple: to deliver measurable results through strategic partnerships, cutting-edge technology, and a deep understanding of the digital landscape.
            </p>

            <p class="disc">
                At CPLBOOSTADS, we work with a broad network of affiliates and media buyers who drive traffic through display, native, and social channels. Our team is dedicated to maximizing ROI for both publishers and advertisers by promoting high-performing campaigns and ensuring every action counts.

            </p>

            <p class="disc">
                Whether you're an advertiser looking to scale with quality leads or a publisher ready to monetize your traffic with the best offers in the market, we’re here to make it happen.


            </p>
          </div>
        </div>
        <div class="service--shape">
          <img
            src="assets/images/service/shape/04.png"
            alt="service"
            class="one"
          />
          <img
            src="assets/images/service/shape/03.png"
            alt="service"
            class="two"
          />
        </div>
      </div>
  
      <!-- rts clients feedback -->
      <div class="rts-client-feedback-area home-2 rts-section-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="title-style-one-left">
                <!-- <span class="pre split-collab">Clients feedback</span> -->
                <h2 class="title split-collab" data-aos="zoom-in" data-aos-duration="1000">Why Choose Us?</h2>
              </div>
            </div>
          </div>
          <div
            class="row g-48 mt--10 justify-content-sm-center justify-content-md-start"
          >
            <div
              class="col-sm-10 col-md-6 col-lg-6 col-xl-4"
              data-aos="fade-right"
              data-aos-duration="1000"
            >
              <div class="single-testimonials-area">
                <!-- <div class="logo">
                  <div class="icon">
                    <i class="fa-solid fa-bullseye"></i>
                  </div>
  
                  <span class="header-testimonial">Growth</span>
                </div> -->
                <p class="disc">
                  Proven results with top-performing CPA campaigns.

                </p>
              </div>
            </div>
            <div
              class="col-sm-10 col-md-6 col-lg-6 col-xl-4"
              data-aos="fade-right"
              data-aos-duration="1000"
            >
              <div class="single-testimonials-area">
                <!-- <div class="logo">
                  <div class="icon">
                    <i class="fa-solid fa-gem"></i>
                  </div>
  
                  <span class="header-testimonial">Real Users </span>
                </div> -->
                <p class="disc">
                  Real-time tracking and optimization.

                </p>
              </div>
            </div>
            <div
              class="col-sm-10 col-md-6 col-lg-6 col-xl-4"
              data-aos="fade-right"
              data-aos-duration="1000"
            >
              <div class="single-testimonials-area">
                <!-- <div class="logo">
                  <div class="icon">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                  </div>
  
                  <span class="header-testimonial">App - Store Boost</span>
                </div> -->
                <p class="disc">Transparent reporting and dedicated support.                </p>
              </div>
            </div>
            <div
              class="col-sm-10 col-md-6 col-lg-6 col-xl-4"
              data-aos="fade-right"
              data-aos-duration="1000"
            >
              <div class="single-testimonials-area">
                <!-- <div class="logo">
                  <div class="icon">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                  </div>
  
                  <span class="header-testimonial">App - Store Boost</span>
                </div> -->
                <p class="disc">Long-term partnerships built on trust</p>
              </div>
            </div>
            <!-- <div class="col-lg-12">
          <div class="button-area-box-shadow overlay-bottom-section">
            <a
              href="javascript:void(0);"
              class="rts-btn btn-primary btn-bottom-center"
              >View all feedbacks</a
            >
          </div>
        </div> -->
          </div>
          <!-- <div class="shape-area">
          <img
            src="assets/images/testimonials/shape/13.png"
            alt="shape"
            class="two"
          />
        </div> -->
        </div>
      </div>
     