<!-- single sertvice area start -->
<div class="single-service-banner-area rts-section-gapTop">
  <div class="container">
    <div class="row pt--100 pb--80 align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="banner-area-left-service-single">
          <h1
            class="title split-collab"
            data-aos="zoom-in"
            data-aos-duration="1000"
          >
            CPLBOOSTADS for <br />
            <span>User Acquisition</span> <br />
          </h1>

          <p class="disc">
            At CPLBOOSTADS we don't just promote apps, we do a lot more than
            that! We know how to take the right users and connect them to your
            app ensuring the best possible engagement within your marketing
            budget.
          </p>
          <a href="/contact" class="rts-btn btn-primary arrow-rotate"
            >Contact us <i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="thumbnail">
          <img
            src="../../../../assets/images/acquisition.jpg"
            alt="User Acquisition"
          />
          <!-- <img class="short-image" src="assets/images/service/12.png" alt=""> -->
        </div>
      </div>
    </div>
  </div>
  <div class="shape-area">
    <img src="assets/images/service/shape/02.png" alt="shape" class="one" />
    <!-- <img src="assets/images/service/shape/03.png" alt="shape" class="two"> -->
    <img src="assets/images/service/shape/04.png" alt="shape" class="three" />
    <img src="assets/images/service/shape/05.png" alt="shape" class="four" />
  </div>
</div>
<!-- single sertvice area end -->

<!-- rts clients feedback -->
<div class="rts-client-feedback-area home-2 rts-section-gap">
  <div class="container">
    <div
      class="row g-48 mt--10 justify-content-sm-center justify-content-md-start"
    >
      <div
        class="col-sm-10 col-md-6 col-lg-6 col-xl-4"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <div class="single-testimonials-area">
          <div class="logo">
            <div class="icon">
              <i class="fa-solid fa-bullseye"></i>
            </div>

            <span class="header-testimonial">Targeting</span>
          </div>
          <p class="disc">
            Identify and target the right users who will engage with your app.
          </p>
        </div>
      </div>
      <div
        class="col-sm-10 col-md-6 col-lg-6 col-xl-4"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <div class="single-testimonials-area">
          <div class="logo">
            <div class="icon">
              <i class="fa-solid fa-gem"></i>
            </div>

            <span class="header-testimonial">Optimizing </span>
          </div>
          <p class="disc">
            AI & Machine Learning to optimize the campaign performance.
          </p>
        </div>
      </div>
      <div
        class="col-sm-10 col-md-6 col-lg-6 col-xl-4"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <div class="single-testimonials-area">
          <div class="logo">
            <div class="icon">
              <i class="fa-solid fa-hand-holding-dollar"></i>
            </div>

            <span class="header-testimonial">Anti Fraud</span>
          </div>
          <p class="disc">
            in-house and outsource tools, whitelist, and blacklist capabilities.
          </p>
        </div>
      </div>
      <!-- <div class="col-lg-12">
        <div class="button-area-box-shadow overlay-bottom-section">
          <a
            href="javascript:void(0);"
            class="rts-btn btn-primary btn-bottom-center"
            >View all feedbacks</a
          >
        </div>
      </div> -->
    </div>
    <!-- <div class="shape-area">
        <img
          src="assets/images/testimonials/shape/13.png"
          alt="shape"
          class="two"
        />
      </div> -->
  </div>
</div>
<!-- rts clients feedback End-->

<!-- Filter Section Start -->

<div class="container py-5">
  <h2
    class="title split-collab"
    style="margin-top: 30px; margin-bottom: 50px; text-align: center"
    data-aos="zoom-in"
    data-aos-duration="1000"
  >
    3 Reasons Why
  </h2>
  <!-- Styled Filter Buttons -->
  <div
    class="d-flex flex-wrap gap-3 justify-content-center mb-5"
    id="filterButtons"
  >
    <button class="tab-btn active" data-target="#content1">Engage</button>
    <button class="tab-btn" data-target="#content2">Grow</button>
    <button class="tab-btn" data-target="#content3">Anti-Fraud</button>
  </div>

  <!-- Tabbed Content Area -->
  <div class="tab-content">
    <!-- Tab 1 -->
    <div class="tab-pane tab-box active" id="content1">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="fw-bold">Engage</h3>
          <p class="text-muted">
            ROAS, RR, ROI, in-app events, or any of the other KPI metrics aren`t
            strangers to us.
          </p>
          <p class="text-muted">
            We know how to work, and have the right technology and expertise to
            ensure that you`re retaining your acquired users and engaging with
            them.
          </p>
          <p class="text-muted">
            Success for us is helping you exceed your KPIs!
          </p>
        </div>
      </div>
    </div>

    <!-- Tab 2 -->
    <div class="tab-pane tab-box" id="content2">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="fw-bold">Grow</h3>
          <p class="text-muted">
            With the help of our secret formula that combines in-house
            optimization algorithms, and access to high LTV users in over 150
            countries we ensure you that you`ll be growing your user base with
            the right customers.
          </p>
          <p class="text-muted">
            We work with over 10 DSPs & RTBs and with the top affiliates in the
            field!
          </p>
        </div>
      </div>
    </div>

    <!-- Tab 3 -->
    <div class="tab-pane tab-box" id="content3">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="fw-bold">Anti-Fraud</h3>
          <p class="text-muted">
            We use advanced machine learning to automatically optimize your
            campaign performance for CR and Click to install time, as well as
            offer you full support for whitelisting and blacklisting certain
            apps.
          </p>
          <p class="text-muted">
            That is done alongside our amazing data analysts and other tools
            like FraudShield, 24Metrics, and TrafficGuard.
          </p>
        </div>
      </div>
    </div>

    <!-- Tab 4 -->
    <div class="tab-pane tab-box" id="content4">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="fw-bold">24/7 Support</h3>
          <p class="text-muted">
            We believe in personal relationships and long-term partnerships. Our
            team is available 24/7 for any questions or if support is needed
            with integration or approval of offers.
          </p>
          <a href="/contact" class="rts-btn btn-primary-2">Learn More</a>
        </div>
        <div class="col-md-6 text-center">
          <img
            src="https://via.placeholder.com/500x300/bbb"
            alt="Conversion"
            class="img-fluid"
          />
        </div>
      </div>
    </div>

    <!-- Tab 5 -->
    <div class="tab-pane tab-box" id="content5">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="fw-bold">Partnership</h3>
          <p class="text-muted">
            We believe that human connection is the key to marketing, even in
            the digital age. We choose our team with the same motto; personality
            comes first. This way we create long-lasting partnerships. We care
            for you and for your success.
          </p>
          <a href="/contact" class="rts-btn btn-primary-2">Learn More</a>
        </div>
        <div class="col-md-6 text-center">
          <img
            src="https://via.placeholder.com/500x300/aaa"
            alt="Retention"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Filter Section End -->

<!-- rts service area start -->
<div class="rts-product-area">
  <div class="container">
    <div
      class="row service-relative align-items-center section-separator-top-bg-white single-product-list pt--125 pb--125 pb_md--80 pb_sm--30 pt_md--80 pt_sm--50"
    >
      <div class="col-lg-6 col-md-6">
        <div class="large-thumbnail">
          <a href="#" class="thumbnail">
            <img
              src="../../../../assets/images/secure.jpg"
              width="505"
              height="400"
              alt="Secure Image"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 offset-lg-1">
        <div class="portfolio-content-wrapper-list">
          <h2
            class="title split-collab"
            data-aos="zoom-in"
            data-aos-duration="1000"
          >
            Secure Your Users
          </h2>
          <p class="disc">
            Within the freemium-dominated app space, the most important thing is
            to find those 5% of users who will contribute to the in-app purchase
            revenue and make them stay. It gets harder considering the fact that
            most users either stop using the app after a brief time or uninstall
            it completely. We believe that user acquisition is an answer to this
            issue. More users, more in-app events, and a way to keep the circle
            moving. If one user leaves, another one replaces it. At CPLBOOSTADS
            we offer a full cycle. We understand what you need – and what you
            are looking for, and can deliver the results.
          </p>
        </div>
      </div>
      <div class="service--shape">
        <img
          src="assets/images/service/shape/04.png"
          alt="service"
          class="one"
        />
        <img
          src="assets/images/service/shape/03.png"
          alt="service"
          class="two"
        />
      </div>
    </div>

    <!-- rts clients feedback -->
    <div class="rts-client-feedback-area home-2 rts-section-gap">
      <div class="container">
        <div
          class="row g-48 mt--10 justify-content-sm-center justify-content-md-start"
        >
          <div
            class="col-sm-10 col-md-6 col-lg-6 col-xl-4"
            data-aos="fade-right"
            data-aos-duration="1000"
          >
            <div class="single-testimonials-area">
              <div class="logo">
                <div class="icon">
                  <i class="fa-solid fa-bullseye"></i>
                </div>

                <span class="header-testimonial">Growth</span>
              </div>
              <p class="disc">
                Grow app traffic by targeting and optimizing the right users.
              </p>
            </div>
          </div>
          <div
            class="col-sm-10 col-md-6 col-lg-6 col-xl-4"
            data-aos="fade-right"
            data-aos-duration="1000"
          >
            <div class="single-testimonials-area">
              <div class="logo">
                <div class="icon">
                  <i class="fa-solid fa-gem"></i>
                </div>

                <span class="header-testimonial">Real Users </span>
              </div>
              <p class="disc">
                Eliminate fraud like bots, click flooding, and install
                hijacking.
              </p>
            </div>
          </div>
          <div
            class="col-sm-10 col-md-6 col-lg-6 col-xl-4"
            data-aos="fade-right"
            data-aos-duration="1000"
          >
            <div class="single-testimonials-area">
              <div class="logo">
                <div class="icon">
                  <i class="fa-solid fa-hand-holding-dollar"></i>
                </div>

                <span class="header-testimonial">App - Store Boost</span>
              </div>
              <p class="disc">Boost App Stores ranking and gross revenue.</p>
            </div>
          </div>
          <!-- <div class="col-lg-12">
        <div class="button-area-box-shadow overlay-bottom-section">
          <a
            href="javascript:void(0);"
            class="rts-btn btn-primary btn-bottom-center"
            >View all feedbacks</a
          >
        </div>
      </div> -->
        </div>
        <!-- <div class="shape-area">
        <img
          src="assets/images/testimonials/shape/13.png"
          alt="shape"
          class="two"
        />
      </div> -->
      </div>
    </div>
    <!-- rts clients feedback End-->

    <div
      class="row service-relative align-items-center section-separator-top-bg-white single-product-list pt--125 pb--125 pb_md--80 pb_sm--30 pt_md--80 pt_sm--50"
    >
      <div class="col-lg-6 col-md-6">
        <div class="large-thumbnail">
          <a href="#" class="thumbnail">
            <img
              src="../../../../assets/images/ltv.jpg"
              width="505"
              height="400"
              alt="High LTV"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 offset-lg-1">
        <div class="portfolio-content-wrapper-list">
          <h2
            class="title split-collab"
            data-aos="zoom-in"
            data-aos-duration="1000"
          >
            High LTV Users
          </h2>
          <p class="disc">
            CPLBOOSTADS AI and optimizer algorithm know which users to target
            and on which media and supply channels – meaning, we get you clients
            who won`t only use your app but appreciate and invest in it as well.
            In CPLBOOSTADS we plan before the act and provide the best results.
            We move from quantity to quality and put our focus on post-install
            events, rather than just on install. This way we provide you with
            high-value users and keep your ROAS happy.
          </p>
        </div>
      </div>
      <div class="service--shape">
        <img
          src="assets/images/service/shape/04.png"
          alt="service"
          class="five"
        />
        <img
          src="assets/images/service/shape/03.png"
          alt="service"
          class="six"
        />
      </div>
    </div>
  </div>
</div>
<!-- rts service area end -->

<!-- rts faq section area start -->
<div class="rts-faq-area-full-container style-three pt--160 pb--80">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="faq-area-start">
          <div class="title-style-one-center">
            <!-- <span class="pre skew-up">Our FAQ</span> -->
            <h2 class="pre skew-up" data-aos="zoom-in" data-aos-duration="1000">
              FAQs
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt--20">
      <div class="col-lg-12">
        <div class="accordion-faq-area-border-bottom-style">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  What's CPLBOOSTAD'S Method of UA?
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p class="disc">
                    Our method of user acquisition assists in discovering new
                    users and shifting them over into paying customers with a
                    high LTV. We understand the issues in the industry, the
                    different types of fraud and know how to eliminate them.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Why Run a User-Securing Campaign?
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p class="disc">
                    One of the main reasons why to run user-securing campaigns
                    is to acquire and keep high LTV users who use the app and
                    drive income - both from in-app purchases and advertisement.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  What is a Successful UA Campaign?
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <p class="disc">
                    A successful user acquisition campaign is dependent on
                    constant data-driven optimization; testing and re-adjusting
                    the campaign and traffic with time. Eventually, patterns
                    start rising and the campaign manager can understand what
                    works for the app and what is needed to reach the KPIs.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-area">
    <img src="assets/images/faq/shape/01.png" alt="sahpe" class="one" />
    <img src="assets/images/faq/shape/02.png" alt="sahpe" class="two" />
    <img src="assets/images/faq/shape/03.png" alt="sahpe" class="three" />
    <img src="assets/images/faq/shape/04.png" alt="sahpe" class="four" />
  </div>
</div>
<!-- rts faq section area end -->
