    <!-- single sertvice area start -->
    <div class="single-service-banner-area rts-section-gapTop">
        <div class="container">
            <div class="row pt--100 pb--80 align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="banner-area-left-service-single">
                        <h1 class="title split-collab">CPLBOOSTADS for <br>
                            <span>Technology</span> <br>
                        </h1>

                        <p class="disc">
                            Our AI technology uses real time data to measure KPIs, optimize traffic delivery, and recommend the best source of the right traffic.



                        </p>
                        <a href="/contact" class="rts-btn btn-primary arrow-rotate">Contact us <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="thumbnail">
                        <img src="../../../../assets/images/technology.jpg" alt="Technology">
                        <!-- <img class="short-image" src="assets/images/service/12.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-area">
            <img src="assets/images/service/shape/02.png" alt="shape" class="one">
            <img src="assets/images/service/shape/03.png" alt="shape" class="two">
            <img src="assets/images/service/shape/04.png" alt="shape" class="three">
            <img src="assets/images/service/shape/05.png" alt="shape" class="four">
        </div>
    </div>
    <!-- single sertvice area end -->




  <!-- rts servgice area start -->
  <div class="rts-service-area-two rts-section-gap bg-dark-border-radious">
    <div class="container">
      <div class="row">
      </div>
      <div class="row mt--10 g-5">
        <div class="col-lg-12">
          <div class="service-swiper-main-wrapper-2">
            <div class="swiper mySwiper-service-2 pb--120">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <!-- ingle service area start -->
                  <div class="single-service-style-two">
                    <div class="icon">
                      <!-- <img
                        src="../../../assets/images/service/icon/01.png"
                        alt="service"
                      /> -->
                    </div>
                      <h6 class="title">API & S2S</h6>
                    <p class="disc">
                      Automatic API or D2D integration. Up to your decision.
                    </p>
                  </div>
                  <!-- ingle service area end -->
                </div>
                <div class="swiper-slide">
                  <!-- ingle service area start -->
                  <div class="single-service-style-two">
                    <div class="icon">
                      <!-- <img
                        src="../../../assets/images/service/icon/02.png"
                        alt="service"
                      /> -->
                    </div>
                      <h6 class="title">Anti-Fraud</h6>
                    <p class="disc">
                     In house took to stop hot traffic, and other types of fraud
                    </p>
                  </div>
                  <!-- ingle service area end -->
                </div>
                <div class="swiper-slide">
                  <!-- ingle service area start -->
                  <div class="single-service-style-two">
                    <div class="icon">
                      <!-- <img
                        src="../../../assets/images/service/icon/03.png"
                        alt="service"
                      /> -->
                    </div>
                      <h6 class="title">AI & Machine Learning</h6>
                    <p class="disc">
                      AI & ML algorithms to optimize and secure your KPIs.
                    </p>
                  </div>
                  <!-- ingle service area end -->
                </div>
                <div class="swiper-slide">
                  <!-- ingle service area start -->
                  <div class="single-service-style-two">
                      <h6 class="title">Transparency</h6>
                    <p class="disc">
                        Capability to pass app names, IDFA, city targeting, etc.
                    </p>
                  </div>
                  <!-- ingle service area end -->
                </div>
              </div>
              <div class="button-pagination-area">
                <div class="swiper-button-prev custom-swiper-nav">
                  <i class="fas fa-chevron-left"></i>
                </div>
                <div class="swiper-button-next custom-swiper-nav">
                  <i class="fas fa-chevron-right"></i>
                </div>

                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-area">
      <img
        src="../../../assets/images/service/shape/09.png"
        alt="shape"
        class="one"
      />
      <img
        src="../../../assets/images/service/shape/02.png"
        alt="shape"
        class="three"
      />
      <img
        src="../../../assets/images/service/shape/04.png"
        alt="shape"
        class="four"
      />
    </div>
  </div>
  <!-- rts servgice area End -->

    <!-- rts service area start -->
    <div class="rts-product-area">
        <div class="container">
            <div class="row service-relative align-items-center section-separator-top-bg-white single-product-list pt--125 pb--125 pb_md--80 pb_sm--30 pt_md--80 pt_sm--50">
                <div class="col-lg-6 col-md-6">
                    <div class="large-thumbnail">
                        <a href="#" class="thumbnail">
                            <img src="../../../../assets/images/win.jpg" width="505" height="400" alt="Winning">
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 offset-lg-1">
                    <div class="portfolio-content-wrapper-list">
                        <h2 class="title split-collab">Our Tech - Your Win</h2>
                        <p class="disc">
                            Our Latest AI Technology for Advertising Product are designed to meet today’s digital marketing challenges, making it easier for great apps and mobile services to securely and effectively get the recognition they deserve. App developers and mobile marketing agencies can use CPLBOOSTADS  in order to monetize their app or acquire new users with simple integration.

                        </p>
                    </div>
                </div>
                <div class="service--shape">
                    <img src="assets/images/service/shape/04.png" alt="service" class="one">
                    <img src="assets/images/service/shape/03.png" alt="service" class="two">
                </div>
            </div>

            
            <div class="row service-relative align-items-center section-separator-top-bg-white single-product-list pt--125 pb--125 pb_md--80 pb_sm--30 pt_md--80 pt_sm--50">
                
                <div class="col-lg-5 col-md-6 offset-lg-1">
                    <div class="portfolio-content-wrapper-list">
                        <h2 class="title split-collab">Transparency</h2>
                        <p class="disc">
                            We analyze your data quickly enough to block suspicious activity in real-time, drive real users to advertisers, and prevent publishers from receiving deductions. You can customize and pick the best offers that fit your traffic, either by a simple S2S integration or an optimized bulk API feed. We also provide full transparency; passing app names, IDFA, GAID, bundle IDs, creatives, and even impressions. More than that, with our targeting capabilities, we can target exactly the right users for you; age, sex, and more importantly – city targeting, we can do it all.


                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="large-thumbnail">
                        <a href="#" class="thumbnail">
                            <img src="../../../../assets/images/offers.jpg" width="505" height="400" alt="Transparency">
                        </a>
                    </div>
                </div>
                <div class="service--shape">
                    <img src="assets/images/service/shape/04.png" alt="service" class="five">
                    <img src="assets/images/service/shape/03.png" alt="service" class="six">
                </div>
            </div>
        </div>
    </div>
    <!-- rts service area end -->

<!-- rts faq section area start -->
<div class="rts-faq-area-full-container style-three pt--160 pb--80">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="faq-area-start">
            <div class="title-style-one-center">
              <!-- <span class="pre skew-up">Our FAQ</span> -->
              <h2 class="pre skew-up">FAQs</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt--20">
        <div class="col-lg-12">
          <div class="accordion-faq-area-border-bottom-style">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Where Can I Learn More About Your AI & ML?
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p class="disc">
                        Check our Identify & Optimize page for more information, or reach out to us.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Which Tracking Platform Do you Use?
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p class="disc">
                        We are working with Affise.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                     How Do You Fight Fraud?
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p class="disc">
                        Please check or anti-fraud section in order to learn more about how we fight against the fraud.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-area">
      <img src="assets/images/faq/shape/01.png" alt="sahpe" class="one" />
      <img src="assets/images/faq/shape/02.png" alt="sahpe" class="two" />
      <img src="assets/images/faq/shape/03.png" alt="sahpe" class="three" />
      <img src="assets/images/faq/shape/04.png" alt="sahpe" class="four" />
    </div>
  </div>
  <!-- rts faq section area end -->
  

  <div class="container" style="margin-bottom: 40px !important;">
    <div class="row g-48 mt--40">
        <div class="col-lg-4 col-sm-6">
            
            <div class="service-page-service-style">
                <h6 class="title">AI & ML Learning</h6>
                <p class="disc">
                    While our competitors use AI as an add-on, we have developed AI and ML algorithms that improve the performance of your ad campaign and optimize it automatically based on your KPI and the important UA metrics (CR, RR, ROAS, ROI, etc).

                </p>
                <a href="/solutions/technology" class="learn-more-btn-underline">Learn more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            
        </div>
        <div class="col-lg-4 col-sm-6">
            
            <div class="service-page-service-style">
                <h6 class="title">Transparency</h6>
                <p class="disc">
                    Lifestyle, entertainment, finance, eCommerce, and gaming are just some of our top verticals, and we provide them all with full transparency and targeting capabilities. CPLBOOSTADS  can target that specific city for you with full transparency.

                </p>
                <a href="/solutions/retargeting" class="learn-more-btn-underline">Learn more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            
        </div>
        <div class="col-lg-4 col-sm-6">

            <div class="service-page-service-style">
                <h6 class="title">Our Team</h6>
                <p class="disc">
                    Its not enough to have impressive technology if you dont know how to use it. Exactly because of that, we hire experts who work around the clock to maximize your campaign performance by utilizing the algorithms in the right way and analyze data.

                </p>
                <a href="/contact" class="learn-more-btn-underline">Learn more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            
        </div>
    </div>