<div
  class="row service-relative align-items-center section-separator-top-bg-white single-product-list pt--125 pb--125"
>
  <!-- counter-section.component.html -->
  <section class="py-5 bg-light counter-section text-center">
    <div class="container">
      <div class="row">
        <!-- Counter 1 -->
        <div class="col-md-3 mb-4">
          <h2 class="counter text-primary display-4" data-target="94">0%</h2>
          <h5 class="mt-3">In-APP Purchases</h5>
          <p>
            Increase user engagement and purchases.

          </p>
        </div>

        <!-- Counter 2 -->
        <div class="col-md-5 mb-4">
          <h2 class="counter text-success display-4" data-target="95">0%</h2>
          <h5 class="mt-3">Retention</h5>
          <p>
            Get your users engaged and wanting more.
          </p>
        </div>

        <!-- Counter 3 -->
        <div class="col-md-3 mb-4">
          <h2 class="counter text-warning display-4" data-target="95">0%</h2>
          <h5 class="mt-3">Sessions</h5>
          <p>Get your users to spend more time in your app.          </p>
        </div>


      </div>
    </div>
  </section>
</div>
