/* You can add global styles to this file, and also import other style files */
.back-to-top {
    position: fixed;
    background-color: #E08CDE;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    display: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .back-to-top.active , .back-to-top:hover{
    background-color: #E08CDE;
  }

  /* Loader styles */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loader-wrapper.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* Spinner */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #E08CDE;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/* Optional sections */
.loader-section {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  z-index: -1;
}

.section-left {
  left: 0;
}

.section-right {
  right: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


