<div class="rts-footer-area footer-four rts-section-gap">
    <div class="container mb--65">
        <div class="row g-48">
            <div class="row g-48">
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="single-footer-wized-one">
                        <h6 class="title">Solutions</h6>
                        <ul>
                            <li><a href="/solutions/user-acquisition">User Acquisition</a></li>
                            <li><a href="/solutions/identify-&-optimize">Identify & Optimize</a></li>
                            <li><a href="/solutions/monetization">Monetization</a></li>
                            <li><a href="/solutions/technology">Technology</a></li>
                            <li><a href="/solutions/anti-fraud">Anti Fraud</a></li>
                            <li><a href="/solutions/retargeting">Retargeting</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="single-footer-wized-one">
                        <h6 class="title">About</h6>
                        <ul>
                            <li><a href="/advertiser">Advertisers</a></li>
                            <li><a href="/publishers">Publishers</a></li>
                            <li><a href="/about">About Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="single-footer-wized-one">
                        <h6 class="title">Support</h6>
                        <ul>
                            <li><a href="/about/faq">FAQs</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                    <div class="single-footer-wized-one">
                        <h6 class="title">Other links</h6>
                        <ul>
                            <li><a href="#">Content Marketing</a></li>
                            <li><a href="#">Consumer Insights</a></li>
                            <li><a href="#">SEO Content Strategy</a></li>
                            <li><a href="#">Keyword Research</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <!-- footer input wrapper inbner-main area -->
                    <div class="footer-input-main-wrapper-one">
                        <div class="single-footer-wized-one">
                            <h6 class="title">Newsletter</h6>
                            <p>
                                CPLBOOSTADS offer innovative mobile performance marketing agency to companies all around
                                the globe. We believe that human relations and technology combined is the key to the
                                best marketing strategy. We do everything with passion and are proud of our
                                achievements.
                            </p>
                        </div>
                    </div>
                    <!-- footer input wrapper inbner-main area end -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-area-four pt--65 mt-65 border-top">
                    <a href="/home" class="logo-area">
                        CPLBOOSTADS
                        <!-- <img class="light" src="assets/images/logo/logo-1.svg" alt="">
                        <img class="dark" src="assets/images/logo/logo-one-dark.svg" alt="logo"> -->
                    </a>
                    <p>© <a href="https://www.morrhtechsolutions.com/">Morrhtech Solutions</a>, All right reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>